<div class="wrapper dark">
  <h2 class="title">Enseignements</h2>
  <div class="container-grid">
    <div class="grid">
      <h3 class="grid-title ashtanga">Ashtanga</h3>
      <p class="details">L'ashtanga est un style de yoga dynamique où les postures
        sont déterminées par avance et doivent être pratiquées en synchronisation
        avec la respiration</p>
      </div>
      <div class="grid">
        <h3 class="grid-title hatha">Hatha</h3>
        <p class="details">Le yoga Hatha est souvent considéré comme un style de yoga
          classique, plusieurs postures sont enchainées mais à la différence du
          Vinyasa les asanas sont tenus plus longtemps</p>
        </div>
        <div class="grid vinyasa">
          <h3 class="grid-title">Vinyasa</h3>
          <p class="details">Le Vinyasa est un yoga dynamique où les postures sont
            répétées plusieurs fois durant le cours à des rythmes différents</p>
          </div>
          <div class="grid yin">
            <h3 class="grid-title">Yin Yoga</h3>
            <p class="details">Le Yin Yoga est un yoga doux où les poses sont tenues
              entre 3 et 5 minutes il permet de faciliter la circulation dans les
              articulations et améliorer sa souplesse </p>
            </div>
  </div>
</div>
