<div class="wrapper">
  <div class="explanation-about">
    <h2 class="title">A propos</h2>
    <p class="text">J'ai découvert le yoga à  l'âge de 16 ans où j'ai pratiqué de manière régulière des asanas simples puis j'ai commencé à prendre des cours en studio pendant 4 ans, puis j'ai suivi l'enseignement de Vanessa Haubrich à Happy Shala à Grenoble pendant 1 an, l'année suivante j'ai effectué ma formation de professeur de Yoga auprès de Atmarekha à l'école Green Yoga International située à Majorque.</p>
  </div>
  <div class="picture-about">
    <span class="tape"></span>
    <img src="../../assets/uttanasana.jpg" alt="Pose de yoga Uttanasana"/>
  </div>
  <div class="sep">
    <p class="quote">योगश्चित्तवृत्तिनिरोध</p>
    <span class="sub-quote">Yoga citta vritti nirodha</span>
    <p class="definition">Le yoga arrête les perturbations du mental</p>
  </div>
</div>
