<div class="wrapper">
  <h2 class="title">Tarifs</h2>
  <div class="container-prices">
    <h3 class="subtitle">Cours privés</h3>
    <div class="prices-list">
      <div class="price">
        <span class="time">1h</span><span class="spacing"></span><span class="price-text">45€</span>
      </div>
      <div class="price">
        <span class="time">1h30</span><span class="spacing"></span><span class="price-text">55€</span>
      </div>
    </div>
    <h3 class="subtitle cat-2">Cours collectifs</h3>
    <div class="group-list">
      <span>Groupe (entre 3 et 6 personnes) 1h : 30€/personne</span>
    </div>
    <div class="price-info">
      <span>Tarifs préférentiels pour étudiants et demandeurs d'emploi et groupes de plus de 6 personnes :
        <a href="#contact">contactez-moi</a>
      </span>
    </div>
  </div>
  <div class="picture-prices">
    <span class="tape"></span>
    <img src="../../assets/sirsa.JPG" alt="Pose de yoga Sirsasana"/>
  </div>
</div>
