<div class="wrapper">
  <div id="Title" class="main">
    <h1>Prenom Nom</h1>
    <span class='subtitle'>Professeure de yoga</span>
    <div class="scroll-down">
      <div class="arrow">
        <a class="scroll-down" pageScroll href="#About"></a>
      </div>
    </div>
  </div>
  <div id="About" class="about">
    <app-about></app-about>
  </div>
<div id ="Teaching" class="teaching">
    <app-teaching></app-teaching>
  </div>
  <div id="Prices" class="prices">
    <app-prices></app-prices>
  </div>
  <div id="Contact" class="contact">
    <app-contact></app-contact>
  </div>
</div>
